

/*************************Media Queries************************************/

/**********************************Large Mobile********************************/

@media (min-width: 460px) { /*Include number*/
  .sticky-call h2{
    visibility: visible;
  }
}


@media (min-width: 530px) { /*Include Call us*/
  .sticky-call {
    left: 25px;
  }

  .sticky-call h2 {
    font-size: 24px;
    letter-spacing:0.8px;
  }
  #deletey {
    display: inline;
  }
}


@media (min-width: 598px) { /*Increase spacing of call and cookies*/
  .sticky-call h2 {
    font-size: 28px;
    letter-spacing:1.6px;
    left: 8px;
  }

  #cookies {
    width: 300px;
    height: 104px;
    padding: 8px 15px 10px;
  }

  #cookies p {
    line-height: 20px;
  }

  #cookie-br{
    display: inline;
  }

  .card {
    width: 280px;
  }
  .card-container {
    justify-content: space-around;
  }
}

@media (min-width:658px) {
  #mob-menu {
    width: 330px;
    height: 100vh;
    padding-top: 30px;
    right: -330px;
  }

  #mob-menu>ul {
    width:70%;
  }

  #mob-menu li {
    width: auto;
    padding: 20px;
    padding-right: 50px;
    padding-left: 10px;
    margin: 0 auto;
    letter-spacing: 1.5px;
    font-size: 16px;
    }
}

/**************************************Tablet********************/
@media (min-width: 768px) {
  .container {
    width: 720px;
    margin-left: auto;
    margin-right: auto;
  }

/*********************TABLET welcome********************************/
  .welcome h1 {
    margin-top: 0;
  }

  .welcome p {
    margin: 24px 0;
  }

  .welcome p:nth-of-type(3) {
    margin-top: 40px;
  }

  .button-box {
    display:flex;
    justify-content: flex-start;
    margin-bottom: 14px;
  }

  .button-box a {
    height: 52px;
    padding: 13.6px 20px;
  }

  #call-btn {
    margin-right: 20px;
  }
  /**************** TABLET footer*******************************************/
  .footer-nav a {
    font-size: 14px;
  }
  .footer-nav a:not(:last-child)::after {
    white-space: pre;
    content: "        /        ";
  }
}

/***************************************DESKTOP MQ************************************/
@media (min-width: 992px) {
  /****hiding mobile features & fixes****/
  #burger,
  .sticky-burger,
  .sticky-call {
    display: none;
  }

  .call {
    display: none;
  }

  #mob-menu {
    display: none;
  }


  /*************************************D-Base Styles***************************/
  .container {
    width:980px;
    margin: 0 auto;
  }


  /******************************************D-Header*********************/
/****Unstuck Header****/
  .header {
    position: relative;
    margin-top:10px;
    height: 140.5px;
    }

  #logo {
    width: 185px;
    height: 140.5px;
  }

  /**********************************D-top nav*****************************/
  #main-nav {
    display: flex;
    position: relative;
    bottom: 152px;
    left: 218px;
  }

  #main-nav>a,
  #about-us>a,
  #news>a {
    display: block;
    padding: 0px 12px;
    height: 50px;
    line-height: 48px;
    position: relative;
    z-index: 400;
    display: block;
    text-align: center;
    font-size:12px;
    letter-spacing: 1.2px;
    font-weight: 600;
    color: white;
    background-color:#0099ab;
  }

  #main-nav::after {
    content: "";
    display: block;
    background-color: #415b6c;
    height: 50px;
    width: 700px;
    position: absolute;
    right: -600px;
    top:0px;
    /* width: 1000px; */
  }

  #main-nav>a:first-of-type { /**************home***********/
    width: 80px;
  }

  #main-nav>a:first-of-type::before {
    content: '';
    position: absolute;
    display: block;
    left: -48px;
    top: 0px;
    border-bottom: 50px solid transparent;
    border-right: 48px solid #0099ab;
  }


  #main-nav>a:nth-of-type(4) { /**********contact us**********/
    margin-right:50px;
  }
  #main-nav>a:nth-of-type(4)::after {
    content: '';
    position: absolute;
    display: block;
    right:-48px;
    top: 0px;
    border-bottom: 50px solid #0099ab;
    border-right: 48px solid transparent;
  }

  #main-nav>a:nth-of-type(5) { /********magnifying glass*****/
    margin-right: 50px;
    left: -12px;
    width: 2px;
    padding-left: 17px;
    padding-right: 17px;
    background-color: #00c7de;
  }

  #main-nav>a:nth-of-type(5) img {
    position: absolute;
    bottom: 15px;
    left:0px;
    width:22px;
    z-index: 200;
  }

  #main-nav>a:nth-of-type(5)::before {
    content: '';
    position: absolute;
    display: block;
    left: -48px;
    top: 0px;
    border-bottom: 50px solid transparent;
    border-right: 48px solid #00c7de;
  }

  #main-nav>a:nth-of-type(5)::after {
    content: '';
    position: absolute;
    display: block;
    right:-48px ;
    top: 0px;
    border-bottom: 50px solid #00c7de;
    border-right: 48px solid transparent;
  }

  #main-nav>a:last-of-type { /****contact number******/
    background-color: #415b6c;
    font-size: 18px;
    left: -24px;
    display: flex;
    flex-grow: 2;
  }

  #main-nav>a:last-of-type::before {
    content: '';
    position: absolute;
    display: block;
    left: -48px;
    top: 0px;
    border-bottom: 50px solid transparent;
    border-right: 48px solid #415b6c;
  }

  /******* Main-nav Dropdowns*****************/
  #about-us,
  #news {
    position:relative;
  }

  #about-us-dropdown,
  #news-dropdown {
    display: none;
    position:absolute;
    top: 50px;
    z-index: 404;
    height: 120px;
    background-color: white;
    box-shadow: 0px 0px 5px #999;
    border-top: none;
  }

  #about-us-dropdown a li,
  #news-dropdown a li {
    height: 40px;
    padding-left: 12px;
    line-height: 40px;
    letter-spacing: 1px;
    font-size: 13px;
    color: #666;
  }

  #about-us-dropdown,
  #about-us-dropdown a li {
      width: 220px;
  }

  #news-dropdown,
  #news-dropdown a li {
    width: 255.45px;
  }

#about-us-dropdown a li,
#news-dropdown a li {
  height: 40px;
  padding-left: 12px;
  line-height: 40px;
  letter-spacing: 1px;
  font-size: 13px;
  color: #666;
}

  /*******Main-nav animations*******************/
  #main-nav>a:nth-child(-n+6):hover,
  #about-us>a:hover,
  #news>a:hover {
    background-color: #005C6E;
  }

  #main-nav>a:first-of-type:hover::before {
    border-right-color: #005C6E;
  }

  #main-nav>a:nth-of-type(4):hover::after {
    border-bottom-color: #005C6E;
  }

  #main-nav>a:nth-of-type(5):hover {
    background-color: #1AE1F8;
  }
  #main-nav>a:nth-of-type(5):hover::before {
    border-right-color: #1AE1F8;
  }
  #main-nav>a:nth-of-type(5):hover::after {
    border-bottom-color: #1AE1F8;
  }

  #about-us:hover #about-us-dropdown,
  #news:hover #news-dropdown {
    display: block;
  }

  #about-us-dropdown li:hover,
  #news-dropdown li:hover {
    background-color: #E6E6E6;
  }

  #about-us-dropdown li,
  #news-dropdown li{
    transition: background-color 0.2s ease-out;
  }

/*****************sticky main-nav*******************/
  #stickyboi {
    height: auto;
  }

  .sticky-on { /***config of whole sticky wrapper***/
    position: fixed;
    top: 0px;
  }

  .sticky-on #page-nav {
    display: none;
  }

  .sticky-header {
    position: relative;
    height: 50px;
    background-color: rgba(255,255,255,0.4);

  }

  .sticky-on #main-nav {
    margin-top: 0px;
    position: relative;
    bottom: 104%;
    left: 200px;
  }

  .sticky-logo {
    width: 65.5px;
    background-color: rgba(255,255,255,0.05);
  }

  /**************************Desktop secondary nav*****************************/
    #page-nav {
    display: flex;
    position: relative;
    bottom: 153px;
    left: 196px;
    justify-content: center;
    align-items: flex-start;
    width: 722px;
  }

  #page-nav>a,
  #services>a,
  #insolv>a,
  #cred>a {
    line-height: normal;
    width: auto;
    /* margin: 0 13px; */
    height: 102px;
    padding: 0 15px;
    font-size: 13px;
    line-height: 100px;
    letter-spacing: 1.2px;
    color: #415b6c;
    font-weight: 600;
  }

  #services>a,
  #insolv>a,
  #cred>a {
    height:104px;
    display: inline-block;
  }

  /******Dropdown******/
  #services,
  #insolv,
  #cred {
    position: relative;
  }

  #services-dropdown,
  #insolv-dropdown,
  #cred-dropdown {
    position: absolute;
    top: 103px;
    display:none;
    justify-content: flex-start;
    z-index:500;
    background-color:white;
    border-top: 5px solid #415b6c;
  }

  #services-dropdown {
    left:-220px;
    width: 970px;
    height: 283.5px;
  }

  #insolv-dropdown {
    left: -45px;
    width: 298px;
    height: 107.45px;
  }

  #cred-dropdown {
    left: -45px;
    width: 230.3px;
    height: 300.65px;
  }

  #services::after, /********dropdown arrows*******/
  #insolv::after,
  #cred::after {
    content: '';
    width: 40px;
    height: 40px;
    background: linear-gradient(to left top, transparent 50%, white 50%);
    border-top: 5px solid #415b6c;
    border-left: 5px solid #415b6c;
    position: absolute;
    z-index: 500;
    bottom: -23px;
    transform: rotate(45deg);
    display:none;
  }

  #services::after {
    left:22px;
  }
  #insolv::after {
    left:80px;
  }
  #cred::after {
    left:45px;
  }

  #services-dropdown ul li,
  #insolv-dropdown ul li,
  #cred-dropdown ul li {
    font-size: 12px;
    font-weight: 500;
    color: rgb(65, 91, 108);
    list-style: disc;
    list-style-position: inside;
    padding: 5px 10px 5px 20px;
    height: 25.15px;
    line-height: 15.15px;
  }

  #services-dropdown ul li {
    width: 242.5px;
  }
  #insolv-dropdown ul li {
    width: 298px;
  }
  #cred-dropdown ul li {
    width: 230.3px;
  }

  #cred-dropdown ul a:last-child li{
    line-height: 18px;
  }

  #services-dropdown a:first-child li,
  #insolv-dropdown a:first-child li,
  #cred-dropdown a:first-child li{
    font-weight: 600;
    letter-spacing: 1.2px;
    list-style: none;
    background-color: #0099ab;
    color:white;
    height: 37.15px;
    line-height: 27.15px;
    margin: 5px 0;
    position:relative;

  }

  /*********Animations*******/

    #page-nav a:nth-child(-n+3):hover {
      background-color: #0099ab;
      color: white;
      text-decoration: none;
      border-bottom: solid 5px #0099ab;
    }

    #page-nav a:nth-child(n+4):hover {
      border-bottom: solid 3px #0099ab;
      background-color: #E6E6E6;
    }

    #services:hover #services-dropdown,
    #insolv:hover #insolv-dropdown,
    #cred:hover #cred-dropdown {
      display:flex;
    }

    #services-dropdown li,
    #insolv li,
    #cred-dropdown li {
      transition: background-color 0.2s ease-out;
    }

    #services-dropdown li:hover,
    #insolv li:hover,
    #cred-dropdown li:hover{
      background-color: #415b6c;
    }

    li:hover .disap-bp {
      color:white;
    }

    #services:hover::after,
    #insolv:hover::after,
    #cred:hover::after {
      display:block;
    }



  /********************* Desktop Image overlay*************************************/
  /****Overlay base********/

  .owl-carousel *{
    display: block;
  }


  .owl-stage-outer {
    width:100vw;
  }

  .owl-item {
    border-top:2px solid rgba(47, 44, 44, 0.64);
    border-bottom:2px solid rgba(47, 44, 44, 0.64);
  }

  .owl-dots{
    display:none;
  }

  .owl-prev{
    left: 2%;
    z-index: 1;
  }
  .owl-next {
    right: 2%;
    z-index: 1;
  }

  .owl-next::after,
  .owl-prev::after {
    content:'';
    height: 25px;
    width: 25px;
    border-radius: 30px;
    position: absolute;
    bottom: 1px;
    z-index:-1;
    transition: 0.4s ease-out;
  }
  .owl-next::after{
    left:-9px;
  }
  .owl-prev::after {
    left:-6px;
  }

  .owl-prev:hover::after,
  .owl-next:hover::after   {
    background-color: rgba(255, 255, 255, 0.8);
  }

  /****General*****/

  .ob {
    display: block;
    position: relative;
    height: 430px;
    margin-left: auto;
    margin-right: auto;
    padding-top:80px;
  }

  .ocb {
    width: 800px;
    margin: 0 auto;
    /* position: relative; */
  }
  .ocb p{
    margin-top:0;
    margin-bottom: 0;
    font-size: 24px;
    line-height: 40px;
    letter-spacing: 1px;
    color: white;
    text-shadow:
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
  }
  .ob-btn {
    display: inline-block;
    position: absolute;
    bottom: 50px;
    background-color: #0099ab;
    color: white;
    box-shadow: 0px 2px #00555e;
    border-radius: 3px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    transition: background-color 0.3s ease-in;
  }

  /*******Image one******/

  #ob-1 {
    background-image:
    linear-gradient(rgba(0, 153, 171, 0.5), rgba(0, 153, 171, 0.2)),
    url('../img/image-overlay.jpg');
    background-position: 50% 0%;
    background-repeat: no-repeat;
    background-size: 2200px 100%;
  }

  #ocb-1 {
    padding: 0px 10px;
  }

  #ob-1-btn {
    padding: 18px 50px 18px 35px;
  }

  #ob-1-btn::after {
    content:'';
    display: block;
    background-image: url('../img/icons/arrow.svg');
    background-repeat: no-repeat;
    position: absolute;
    left: 202px;
    bottom: 8px;
    width: 30px;
    height: 30px;
  }

  #ocb-1-text{
    line-height:50px;
  }

  #ocb-1-emph{
    margin-top: 46px;
    font-size: 46px;
  }
  /******Image two*******/
  #ob-2 {
    background-image: linear-gradient(rgba(0, 153, 171, 0.55), rgba(0, 153, 171, 0.3)),
                      url("../img/meeting.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
  }

  #ocb-2-emph {
    display:inline-block;
    line-height: 22px;
    margin: 35px 0 26px;
    font-size:40px;
    font-weight: 600;
    }

  #ob-2-btn {
    padding: 18px 35px;
  }
/******Image three*******/
  #ob-3 {
    background-image: linear-gradient(rgba(0, 153, 171, 0.55), rgba(0, 153, 171, 0.3)),
                      url("../img/piggy.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  #ocb-3-text-2{
    display: inline-block;
    margin-top:30px;
    font-size: 30px;
  }

  #ocb-3-emph {
    display:inline-block;
    line-height: 22px;
    margin: 35px 0 26px;
    font-size:40px;
    font-weight: 600;
  }

  #ob-3-btn-1,
  #ob-3-btn-2 {
    padding: 18px 35px;
  }

  #ob-3-btn-1{
    margin-left: 40px;

  }

  #ob-3-btn-2{
    margin-left: 234px;
  }

  /******Cards*********/
  .card-container {
    margin-top: 90px;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: none;
  }
  .text-box,
  .img-box {
    width: auto;
  }

  .card {
    width: 400px;
  }

  .text-box {
    height: 130px;
  }

/*******************************DESKTOP Two column layout****************/
/******Base styles*******/
  .columns {
    display: flex;
    justify-content: space-between;
  }
  .welcome {
    max-width: none;
    width: 650px;
    margin: 0 40px 0 15px;
  }
  .side-bar {
    width: 294px;
    margin-right: 15px;
  }
/*******Credentials***********/
  .cred {
    margin: 50px auto 30px;
  }
  .cred h3 {
    margin-top: 0;
  }
  .cred p {
    width: 940px;
  }
}


/********************************L DESKTOP MQ**************************************************/
@media (min-width:1262px) {

  /******cookies**********/
  #cookies {
    width: 440px;
    height: 120px;
  }

  #cookies button {
    width: 105px;
    height: 33px;
  }

  #cookies p {
    font-size: 18px;
    line-height: 30px;
  }

  /********************************L header***************************/
  .container {
    width:980px;
    margin: 0 auto;
    padding: 0 10px;
  }

  .header {
    height: 177px;
    /* width:1200px; */
    /* padding: 0 10px; */
    margin-top: 0;
  }

  #logo {
    width: 233px;
    height: 100%;
  }

  #main-nav {
    bottom: 177px;
    left: 290px;
  }

  #main-nav a {
    font-size: 15px;
    letter-spacing: 1.8px;
    padding: 0 14px;
  }

  #main-nav>a:last-of-type {
    font-size: 28px;
    font-weight: 500;
  }

  #page-nav {
    bottom: 177px;
    left: 400px;
    height: 128px;
  }

  #page-nav a {
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1.2px;
    line-height: 128px;
    height: 128px;
  }

  /****drop downs*****/
  #services-dropdown,
  #insolv-dropdown,
  #cred-dropdown {
    top: 127px;
  }
  #services-dropdown {
    width: 1230px;
    height: 283.5px;
    left: -420px;
  }

  #services-dropdown ul li {
    width: 307.5px;
    letter-spacing: 0.2px;
  }

  #insolv-dropdown ul li,
  #cred-dropdown ul li {
    letter-spacing: 0.2px;
  }

  /*****************************L desktop cards********************************/
  .container {
    width: 1230px;
  }

  .card-container {
    padding:0;
    margin-top: 90px;
  }

  .card {
    width: 278px;
  }

  .card:nth-of-type(3) .img-box,
  .card:nth-of-type(4) .img-box {
    margin-top: 0px;
  }

  .text-box {
    height: 170px;
  }

  .text-box:nth-of-type(2) {
    letter-spacing: 0.8px;
  }

  /************************ XL Desktop Two column layout*********************/

  .welcome {
    width: 922.5px;
    padding: 0;
    margin-left: 0;
    margin-right: 40px;
  }

  .quote-vid-box {
    display: flex;
    justify-content: space-between;
  }

  .quote-box {
    position: relative;
    bottom: 22px;
    width: 277.5px;
    align-self: flex-start;
    margin-top:0;
    margin-left:32px;
  }

  .vid {
    width: 560px;
    height: 320px;
  }

  .welcome p:last-of-type {
    margin-bottom: 15px;
  }

  .side-bar {
    width: 307.5px;
    padding: 0;
    margin-right:0;
  }

  .cred {
    margin: 50px auto 30px;
  }
}

@media (min-width: 1550px) {
  #main-nav {
    left: 459px;
  }

  #page-nav {
    left: 436px;
  }
  .sticky-on #main-nav {
    left: 460px;
  }
}
